body {
  margin: 0px;
}

.parent_vid {
	position: relative;

}

.child_vid {
	position: absolute;
	mix-blend-mode: darken;
	width: 100%;
	margin: 0px;
}


.buttons {
	margin: 0px;
	position: fixed;
	top: 0;
  	right: 50%;
}