
h2{
  text-align: center;
  letter-spacing: 8px;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 24px;
}

#para{
  letter-spacing: 0px;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 14px;
  text-transform: none;
}