body { 
  min-height: 100vh;
  cursor: wait; 
}

h2{
  text-align: center;
  letter-spacing: 8px;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 24px;
  animation-name: title_anim;
  animation-duration: 60s;
  animation-iteration-count: 1;
  animation-direction: reverse;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes title_anim {
  0% {color: rgb(255, 255, 255);}
  5% {color: rgb(0, 0, 0);}
  100% {color: rgb(0, 0, 0);}
}

#progress {
  display: block;
  width: 80%;
  background-color: lightgrey;
  margin-left: auto;
  margin-right: auto;
}

#bar {
  width: 0.1%;
  height: 100px;
  animation-name: bg_anim;
  animation-duration: 60s;
  animation-iteration-count: 1;
  animation-direction: reverse;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes bg_anim {
  0% {background-color: rgb(255, 255, 255);}
  5% {background-color: rgb(255, 0, 0);}
  50% {background-color: rgb(0, 0, 255);}
  100% {background-color: rgb(0, 0, 0);}
}