body {
  margin: 0px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 0px 0px;
  padding: 0px;
}

.grid-container > div {
  width: 100%;
  padding: 0px;
  height: 33.3vh;
  text-align: center;
  position: relative;
  background-color: rgb(0, 0, 0);
}

.item1 {
  grid-column-start: 1;
  grid-column-end: 4;
  animation-name: item1_anim;
  animation-duration: 2.56s;
/*  animation-duration: 0.64s;*/
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear;
  animation-delay: 2s;
}

@keyframes item1_anim {
  0% {background-color: rgb(0, 0, 0);}
  100% {background-color: rgb(255, 255, 0);}
}


.item2 {
  grid-column-start: 1;
  grid-column-end: 4;
  animation-name: item2_anim;
  animation-duration: 2.576s;
/*  animation-duration: 0.644s;*/
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear;
  animation-delay: 2s;
}

@keyframes item2_anim {
  0% {background-color: rgb(0, 0, 0);}
  100% {background-color: rgb(255, 255, 0);}
}

.item3 {
  grid-column-start: 1;
  grid-column-end: 4;
  animation-name: item3_anim;
  animation-duration: 2.592s;
/*  animation-duration: 0.648s;*/
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear;
  animation-delay: 2s;
}

@keyframes item3_anim {
  0% {background-color: rgb(0, 0, 0);}
  100% {background-color: rgb(255, 255, 0);}
}


#para_btn {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%); /*for microsoft compatibility?*/
  transform: translate(-50%, -50%);
}

#start_btn {
  letter-spacing: 8px;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 36px;
  color: black;
  background-color: red;
}