body {
	margin: 0px;
}

#body_bg {
	position: relative;
	height: 100vh;
	background-color: black; 
}

#para {
	margin: 0px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#start_btn {
	letter-spacing: 8px;
	font-family: "Lucida Console", "Courier New", monospace;
	font-size: 36px;
	color: black;
	background-color: red;
}

#circle {
	animation-name: circle_anim;
	animation-duration: 415s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear;
	margin: 0px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

@keyframes circle_anim {
	0% {background-color: rgb(255, 255, 255); height: 0%; border-radius: 50%;}
	5% {background-color: rgb(255, 0, 0); height: 25%; border-radius: 45%;}
	50% {background-color: rgb(0, 0, 255); height: 50%; border-radius: 15%;}
	100% {background-color: rgb(0, 0, 0); height: 100%; border-radius: 0%;}
}