
h2{
  text-align: center;
  letter-spacing: 8px;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 24px;
}

img{
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

#clock{
  position: relative;
}

#hours{
  transform: rotate(var(--degHour));
}

#minutes{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transform: rotate(var(--degMin));
}

#seconds{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transform: rotate(var(--degSec));
}
