/*blue rgb(101, 209, 219)*/
/*yellowish white rgb(250, 237, 187)*/
/*red rgb(215, 0, 27)*/

body {
  margin: 0px;
  background-color: rgb(215, 0, 27)
}

h2{
  text-align: center;
  letter-spacing: 8px;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 24px;
  color: rgb(250, 237, 187);
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 0px 0px;
  padding: 0px;
}

.grid-container > div {
  width: 100%;
  padding: 0px;
  text-align: center;
 }

.item0 {
  grid-column-start: 1;
  grid-column-end: 3;
  height: 20vh;
}

.item1 {
  grid-column-start: 1;
  grid-column-end: 2;
}

.item2 {
  grid-column-start: 2;
  grid-column-end: 3;
}

.item3 {
  grid-column-start: 1;
  grid-column-end: 3;
  height: 25vh;
}

.button {
  letter-spacing: 2px;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 12px;
  color: black;
  background-color: rgb(250, 237, 187);
}

a:link {
  color: rgb(250, 237, 187);
  text-decoration: none;
}

a:visited {
  color: rgb(250, 237, 187);
  text-decoration: none;
}

a:hover {
  color: rgb(101, 209, 219);
  text-decoration: underline;
}

a:active {
  color: rgb(101, 209, 219);
  text-decoration: underline;
}

.link{
  text-align: center;
  letter-spacing: 2px;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 16px;
}


input[type=range] {
  width: 25%;
  margin: 13.8px 0;
  background-color: transparent;
  -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  background: #faedbb;
  border: 0.2px solid #010101;
  border-radius: 1.3px;
  width: 100%;
  height: 8.4px;
  cursor: pointer;
}
input[type=range]::-webkit-slider-thumb {
  margin-top: -14px;
  width: 16px;
  height: 36px;
  background: #65d1db;
  border: 1px solid #000000;
  border-radius: 1px;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #fcf3d3;
}
input[type=range]::-moz-range-track {
  background: #faedbb;
  border: 0.2px solid #010101;
  border-radius: 1.3px;
  width: 100%;
  height: 8.4px;
  cursor: pointer;
}
input[type=range]::-moz-range-thumb {
  width: 16px;
  height: 36px;
  background: #65d1db;
  border: 1px solid #000000;
  border-radius: 1px;
  cursor: pointer;
}
input[type=range]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 14.8px 0;
  color: transparent;
  width: 100%;
  height: 8.4px;
  cursor: pointer;
}
input[type=range]::-ms-fill-lower {
  background: #f8e7a3;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
}
input[type=range]::-ms-fill-upper {
  background: #faedbb;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
}
input[type=range]::-ms-thumb {
  width: 16px;
  height: 36px;
  background: #65d1db;
  border: 1px solid #000000;
  border-radius: 1px;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}
input[type=range]:focus::-ms-fill-lower {
  background: #faedbb;
}
input[type=range]:focus::-ms-fill-upper {
  background: #fcf3d3;
}

@supports (-ms-ime-align:auto) {

  input[type=range] {
    margin: 0;

  }
}


