body {
  background-color: #424242;
  padding: 30px 25%;
  text-align: center;
}

h2{
  text-align: center;
  letter-spacing: 8px;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 24px;
}

#container {
  margin: 0 auto;
  width: 640px;
  height: 640px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

#container div {
  justify-content: center;
  align-items: center;
  display: flex;
}

.black {
	background-color: black;
  color: #fff;
}

.white {
  background-color: white;
  color: #000;
}