
h2{
  text-align: center;
  letter-spacing: 8px;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 24px;
}

h3{
  font-size: 20px;
}

#paraIndex{
  text-align: center;
  letter-spacing: 2px;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 16px;
  text-transform: none;
}

a:link {
  color: red;
  text-decoration: none;
}

a:visited {
  color: magenta;
  text-decoration: none;
}

a:hover {
  color: blue;
  text-decoration: underline;
  font-size: var(--hover_size);
}

.about_link a:hover {
  color: blue;
  text-decoration: underline;
}

a:active {
  color: blue;
  text-decoration: underline;
}

.about_link{
  text-align: center;
  letter-spacing: 2px;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 16px;
}

#about_text{
  margin-left: 25vw;
  width: 50vw;
  text-align: left;
  letter-spacing: 0px;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 14px;
}