body{
	animation-name: bg_anim;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

::-moz-selection { /* Code for Firefox */
  color: rgb(0, 51, 0);
  background: rgb(15, 255, 15);
}

::selection {
  color: rgb(0, 51, 0);
  background: rgb(15, 255, 15);
}

.text_anim {
	animation-name: text_anim;
  animation-duration: 100ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

@keyframes bg_anim {
  from {background-color: rgb(0, 37, 0);}
  to {background-color: rgb(0, 51, 0);}
}

@keyframes text_anim {
  from {color: rgb(0, 240, 0);}
  to {color: rgb(15, 255, 15);}
}

h2{
  text-align: center;
  letter-spacing: 8px;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 24px;
}

#para{
  text-align: justify;
  letter-spacing: 0px;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 14px;
  text-transform: none;
}

#textSizeSlider{
  width:120px;
}

.buttons {
  letter-spacing: 2px;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 12px;
  color: black;
  background-color: white;
}

input[type=range] {
  width: 100%;
  margin: 9.5px 0;
  background-color: transparent;
  -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  background: #00ff00;
  border: 0.2px solid #010101;
  border-radius: 1.3px;
  width: 100%;
  height: 8px;
  cursor: pointer;
}
input[type=range]::-webkit-slider-thumb {
  margin-top: -9.7px;
  width: 12px;
  height: 27px;
  background: #ffffff;
  border: 1px solid #000000;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #1aff1a;
}
input[type=range]::-moz-range-track {
  background: #00ff00;
  border: 0.2px solid #010101;
  border-radius: 1.3px;
  width: 100%;
  height: 8px;
  cursor: pointer;
}
input[type=range]::-moz-range-thumb {
  width: 12px;
  height: 27px;
  background: #ffffff;
  border: 1px solid #000000;
  cursor: pointer;
}
input[type=range]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 10.5px 0;
  color: transparent;
  width: 100%;
  height: 8px;
  cursor: pointer;
}
input[type=range]::-ms-fill-lower {
  background: #00e600;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
}
input[type=range]::-ms-fill-upper {
  background: #00ff00;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
}
input[type=range]::-ms-thumb {
  width: 12px;
  height: 27px;
  background: #ffffff;
  border: 1px solid #000000;
  cursor: pointer;
  margin-top: 0px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #00ff00;
}
input[type=range]:focus::-ms-fill-upper {
  background: #1aff1a;
}

@supports (-ms-ime-align:auto) {
  input[type=range] {
    margin: 0;
  }
}

