
h2{
  text-align: center;
  letter-spacing: 8px;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 24px;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Full viewport height */
  background: url('../images/clock3_angry_accountant_edit.png') no-repeat center center fixed;
  background-size: cover;
}

img {
  display: block;
  width: 100%; /* Make images scale with the #clock container */
  height: 100%; /* Ensure images fill the container */
  object-fit: contain; /* Preserve aspect ratio */
}

#clock {
  position: relative;
  width: 750px;
  height: 750px;
}

#hours{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transform: rotate(var(--degHour));
  transform-origin: center;
}

#minutes{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transform: rotate(var(--degMin));
  transform-origin: center;
}

#seconds{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transform: rotate(var(--degSec));
  transform-origin: center;
}

#hours, #minutes, #seconds {
  border-radius: 50%; /* Makes the elements round */
  /* box-shadow: 0 0 50px 100px rgba(255, 255, 255 0.25); */
  animation: haloPulse 1s ease-in-out infinite alternate; /* Add animation */
}

@keyframes haloPulse {
  0% {
    box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.25); /* Initial box-shadow */
  }
  100% {
    box-shadow: 0 0 80px 100px rgba(255, 255, 255, 0.5); /* Stronger glow */
  }
}