html {
    font-size: 100%; /* Keeps the default size (16px in most browsers) */
}

body {
    font-family: 'Georgia', 'Times New Roman', serif;
    line-height: 1.6;
	font-size: 1em; /* Equal to the browser's default or whatever is set in html */
    margin: 0;
    padding: 20px;
    background-color: #000;
    color: #f3f3f3;
}

h1 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 10px;
}

h2 {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.section {
    margin: 20px auto;
    max-width: 1200px;
    background: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	opacity: 0;
    transition: opacity 1.5s ease-in-out;
    visibility: hidden;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

p {
    margin: 20px 0;
	text-align: center;
}

.highlight {
    font-style: italic;
    color: #555;
}

img {
	display: block;
	margin: 0 auto;
	width: 100%;
	border: 5px solid #f3f3f3;
    border-radius: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
	transition: transform 10s ease-in-out, box-shadow 1s ease-in-out;
}

img:hover {
    transform: scale(1.5);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.5);
}

.section.active {
    opacity: 1;
    visibility: visible;
    position: relative;
}

.navigation {
    text-align: center;
    margin-top: 20px;
}

button {
    background-color: #555;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #777;
}